<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- No need to include the Bootstrap CSS since we're not using it for layout -->
  <style>
    body {
      background-color: antiquewhite;
    }

    .center {
      text-align: center;
    }

    .center button {
      padding: 10px 20px;
      border-width: 0px;
      border-style: hidden;
      background-color: rgb(1, 115, 244);
      color: white;
      font-size: medium;
      text-align: center;
      margin: 0 auto; /* This will center the button horizontally */
    }
  </style>
</head>
<body>
  <br/>
  <div style="width: 100%;background-color: rgb(145, 10, 10);padding: 5px 5px;">
    <div>
        <h2 class="center" style="color: white;">Shule Alumni</h2>
    </div>
  </div>
  <h1 style="color: black;padding-bottom: 0px;margin-bottom: 0px;" class="center">Password reset</h1>
  <p class="center" style="padding-top: 2px;color: black;">Hi! <%= name %> Click the button below to reset your password</p>
  <br/>
  <div class="center">
    <a href="https://shulealumni.com/new-password/<%= link %>"><button>Reset password</button></a> 
  </div>
</body>
</html>
